<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game View</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>AMERICAN ROULETTE</h1>

    <section class=board>
      <section class="house">
        <span> 0</span>
      </section>
      <section class="house">
        <span>00</span>
      </section>
      <section class="box one red odd">
        <span> 1</span>
      </section>
      <section class="box two black even">
        <span> 2</span>
      </section>
      <section class="box three red odd">
        <span> 3</span>
      </section>
      <section class="box four black even">
        <span> 4</span>
      </section>
      <section class="box five red odd">
        <span> 5</span>
      </section>
      <section class="box six black even">
        <span> 6</span>
      </section>
      <section class="box seven red odd">
        <span> 7</span>
      </section>
      <section class="box eight black even">
        <span> 8</span>
      </section>
      <section class="box nine red odd">
        <span> 9</span>
      </section>
      <section class="box ten black even">
        <span>10</span>
      </section>
      <section class="box eleven black odd">
        <span>11</span>
      </section>
      <section class="box twelve red even">
        <span>12</span>
      </section>
      <section class="box thirteen black odd">
        <span>13</span>
      </section>
      <section class="box fourteen red even">
        <span>14</span>
      </section>
      <section class="box fifteen black odd">
        <span>15</span>
      </section>
      <section class="box sixteen red even">
        <span>16</span>
      </section>
      <section class="box seventeen black odd">
        <span>17</span>
      </section>
      <section class="box eighteen red even">
        <span>18</span>
      </section>
      <section class="box nineteen red odd">
        <span>19</span>
      </section>
      <section class="box twenty black even">
        <span>20</span>
      </section>
      <section class="box twentyOne red odd">
        <span>21</span>
      </section>
      <section class="box twentyTwo black even">
        <span>22</span>
      </section>
      <section class="box twentyThree red odd">
        <span>23</span>
      </section>
      <section class="box twentyFour black even">
        <span>24</span>
      </section>
      <section class="box twentyFive red odd">
        <span>25</span>
      </section>
      <section class="box twentySix black even">
        <span>26</span>
      </section>
      <section class="box twentySeven red odd">
        <span>27</span>
      </section>
      <section class="box twentyEight black even">
        <span>28</span>
      </section>
      <section class="box twentyNine black odd">
        <span>29</span>
      </section>
      <section class="box thirty red even">
        <span>30</span>
      </section>
      <section class="box thirtyOne black odd">
        <span>31</span>
      </section>
      <section class="box thirtyTwo red even">
        <span>32</span>
      </section>
      <section class="box thirtyThree black odd">
        <span>33</span>
      </section>
      <section class="box thirtyFour red even">
        <span>34</span>
      </section>
      <section class="box thirtyFive black odd">
        <span>35</span>
      </section>
      <section class="box thirtySix red even">
        <span>36</span>
      </section>

      <section class="outside">
        <section class= "box odds odd">
          <span>ODD</span>
        </section>
        <section class= "box odds even">
          <span>EVEN</span>
        </section>
        <section class= "box colors black">
          <span>BLACK</span>
        </section>
        <section class= "box colors red">
          <span>RED</span>
        </section>

      </section>

      <button class="start" type="button" name="start">PLACE BET</button>
    </section>

    <section class="wheel">
      <h2 class="results"></h2>
    </section>


    <script src="js/game.js"type="text/javascript"></script>
  </body>
</html>
