<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/master.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Roulette</h1>
    </header>
    <section>
        <input class="color" type="radio" name="color" value="black">
        <label for="color">Black</label>
        <input class="color" type="radio" name="color" value="red">
        <label for="color">Red</label>
        <button type="button">Place Bet</button>
    </section>

    <!-- display money won -->
    <section>
      <p class="result"></p>
    </section>
    <script type="text/javascript" href="js/index.js"></script>
  </body>
</html>
