*{
  box-sizing: border-box;
  text-align: center;
}
body{
  background-color: rgb(16, 68, 27);
}
.board{
  width: 30%;
  height: 450px;
  border: 4px solid red;
  margin-top: 80px;
  margin-left: 10%;
  float: left;

}
.house{
  border: 2px solid black;
  background: green;
  color: white;
  width: 50%;
  height:30px;
  float: left;
}
.box{
  border: 2px solid black;
  width: 33.3333%;
  height:30px;
  float: left;
  margin: 0;
}
.black{
  background-color: black;
  color: white;
}
.red{
  background: red;
  color: white;
}
.colors{
  width: 25%;
}
.odds{
  width:25%;
  color: white;
}

.wheel {
  width: 57%;
  height: 710px;
  float: left;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url(../wheel.png);
  background-size: cover;
  margin-left: 3%;
}

.button{
  padding: 5px;
  margin-left: 50px;
  /* border-radius: 10%; */
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
} */
